In [103]:
import pandas as pd

In [134]:
usage_file = "C:/Users/bajwaj2/Desktop/usage_stats_01012021_10312021.csv"

usage_df = pd.read_csv(usage_file)

usage_df.head()

,Project Name,Workbook Name,DEPARTMENT,Number of Users,Number of View Events,Min. Days Since Action
0,BODI CYGNUS,_BODI Menu Cygnus,GCHDI,3,3,44
1,BODI CYGNUS,_BODI Menu Cygnus,GCHDIL7A,1,3,85
2,BODI CYGNUS,_BODI Menu Cygnus,MMDPA,1,2,262
3,BODI CYGNUS,FDMI Study Sample Tracker,GCHDI,3,21,85
4,BODI CYGNUS,FDMI Study Sample Tracker,MMDPA,1,3,262

In [135]:
# Data Exploration

len(usage_df)

982

In [136]:
# Data Exploration

print(usage_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Project Name            982 non-null    object
 1   Workbook Name           982 non-null    object
 2   DEPARTMENT              968 non-null    object
 3   Number of Users         982 non-null    int64
 4   Number of View Events   982 non-null    object
 5   Min. Days Since Action  982 non-null    int64
dtypes: int64(2), object(4)
memory usage: 46.2+ KB
None

In [137]:
# Data Exploration

usage_df['Project Name'].unique()

array(['BODI CYGNUS', 'BODI MDH Backup', 'BODI NEW', 'BODI PROD',
       'BODI Project', 'BODI_TESTS', 'BODI_UAT', 'DEVSCI-INFORMATICS',
       'FMI Study Trackers', 'FMI Study Trackers Business', 'Grand Total'],
      dtype=object)

In [138]:
# Data Exploration

BODI_PROD_usage_data = usage_df.loc[usage_df["Project Name"] == "BODI PROD"]
len(BODI_PROD_usage_data)

622

In [139]:
# Data Exploration

BODI_PROD_usage_data.head()

,Project Name,Workbook Name,DEPARTMENT,Number of Users,Number of View Events,Min. Days Since Action
221,BODI PROD,aCLL GO39902 Study Dashboard,GCFDBA7A,1,1,273
222,BODI PROD,aCLL GO39902 Study Dashboard,GCHD,2,4,66
223,BODI PROD,aCLL GO39902 Study Dashboard,GCHDC,1,4,31
224,BODI PROD,aCLL GO39902 Study Dashboard,GCHDI,1,17,36
225,BODI PROD,aCLL GO39902 Study Dashboard,GCHDIL,1,1,227

In [140]:
# Data Exploration

BODI_PROD_usage_data['Workbook Name'].unique()
len(BODI_PROD_usage_data['Workbook Name'].unique())

115

In [141]:
# Data Exploration

BODI_PROD_top_usage = BODI_PROD_usage_data.sort_values(by='Number of View Events', ascending=False)

# BODI_PROD_top_usage

In [142]:
# Data Preperation

BODI_PROD_top_usage["Number of Users"] = pd.to_numeric(BODI_PROD_top_usage["Number of Users"])
BODI_PROD_top_usage["Number of View Events"] = pd.to_numeric(BODI_PROD_top_usage["Number of View Events"])
BODI_PROD_top_usage["Min. Days Since Action"] = pd.to_numeric(BODI_PROD_top_usage["Min. Days Since Action"])

In [56]:
# Data Exploration

BODI_PROD_top10 = BODI_PROD_top_usage.nlargest(10,'Number of View Events')
# BODI_PROD_top10

In [55]:
# Data Exploration

BODI_PROD_top30 = BODI_PROD_top_usage.nlargest(30,'Number of View Events')
# BODI_PROD_top30

In [53]:
# Data Exploration

BODI_PROD_top50 = BODI_PROD_top_usage.nlargest(50,'Number of View Events')
# BODI_PROD_top50

In [144]:
# Data Preperation

top50 = BODI_PROD_top_usage.groupby('Workbook Name').agg({'Number of View Events': ['sum']})

top50

                                        Number of View Events
                                                          sum
Workbook Name
Alectinib BO40336 Study Dashboard                          31
Anti-BCMA/CD16A GO41582 Study Dashboard                    52
Anti-CD20 GO29781 Study Dashboard                          32
Anti-FcRH5 CD3 GO39775 Study Dashboard                     40
Anti-FcRH5 CD3 GO39775 Study Dashboard                     10
...                                                       ...
ZELBORAF CO39262 Study Dashboard                           13
aCLL GO39902 Study Dashboard                               37
draft_NP30179 Biomarker Dashboard                           3
fmi-dbi                                                    18
ipatasertib CO41101 Study Dashboard                        28

[115 rows x 1 columns]

In [117]:
# Data Exploration

for col in top50.columns:
    print(col)

('Number of View Events', 'sum')

In [126]:
# Data Exploration

top50.dtypes

Number of View Events  sum    int64
dtype: object

In [150]:
# Data Exploration

BODI_PROD_top50.dtypes

Project Name              object
Workbook Name             object
DEPARTMENT                object
Number of Users            int64
Number of View Events      int64
Min. Days Since Action     int64
dtype: object

In [151]:
# to csv
top50.to_csv('top50.csv')